

.uhr {
  background-color: #e4e4e4;
  border: 2px solid #e3e3e3;
  border-radius: 30px;
  box-shadow: inset 0 0 10px #4e0c0c, 0 0 10px #6d6d6cc7;
  left: 50%;
  transform: translateX(-50%);
  min-width: 180px;
  padding: 3px 25px;
  position: fixed;
  top: 2px;
  z-index: 2000;

  &-item {
    font-size: 25px;
    font-weight: bold;
    color: $blue6;
  }
}