.form-check {
  position: relative;
  --radio-color: #b3f4f7;

  &--devider {
    --radio-color: #d0f8c3;
  }
}

.fildset-radio {

  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: fixed !important;
    left: -9999px !important;
    height: 0px;
    width: 0px;
  }

  input[type="radio"]:checked+label,
  input[type="radio"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    opacity: 1;
    line-height: 19px;
    padding: 0 0 0 26px;
    transition: all 0.2s;
    color: var(--radio-color);

    &:hover {
      color: color-mix(in srgb, var(--radio-color) 70%, white);
    }
  }

  input[type="radio"]:checked+label::before,
  input[type="radio"]:not(:checked)+label::before {
    content: '';
    display: block;
    transition: all 0.2s;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #193756;
    // background-color: red;
    box-shadow: 0 0 5px rgba(81, 201, 205, 0.5);
  }


  input[type="radio"]:checked+label::after,
  input[type="radio"]:not(:checked)+label::after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transform: translate(3px, 3px);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
    background-color: #51C9CD;
    box-shadow: 0 0 5px rgba(81, 201, 205, 0.6);
    display: inline-block;
  }

  input[type="radio"]:not(:checked)+label::before {
    border: solid 2.4px #51C9CD;
  }

  input[type="radio"]:checked+label::before {
    border: solid 2px #51C9CD;
  }

  input[type="radio"]:checked+label::after {
    opacity: 1;
  }

  input[type="radio"]:not(:checked)+label::after {
    opacity: 0;
  }

}